[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/boostorg/asio
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
